.text-input:disabled {
    -fx-opacity: 1;
    -fx-text-box-border: none;
    -fx-padding: 0px;
}

.label:disabled {
    -fx-opacity: 1;
}

.combo-box .list-cell:disabled {
    -fx-opacity: 1;
    -fx-background-color: transparent;
    -fx-padding: 0px;
}

.combo-box-base:disabled {
    -fx-opacity: 1;
    -fx-body-color: transparent;
    -fx-inner-border: transparent;
    -fx-outer-border: transparent;
    -fx-background-color: transparent;
}

.combo-box-base .arrow:disabled {
    -fx-background-color: transparent;
}

.check-box:disabled {
    -fx-opacity: 1;
}

.table-view:disabled {
    -fx-opacity: 1;
}

.hyperlink:disabled {
    -fx-opacity: 1;
}

.CalendarTextFieldCaspianSkin .icon:disabled {
    visibility: hidden;
}
