/*
 Copyright © - 2013 Anahata Technologies.
*/
/* 
    Created on : 28/03/2014, 12:08:49 PM
    Author     : Goran Lochert <goran@anahata-it.com.au>
*/

.combo-editor {
    -fx-padding: 3 10 3 5;
    -fx-border-color: red;
}

.combo-editor .scroll-pane .scroll-bar:horizontal {
    -fx-opacity: 0.0;
}

.combo-editor .scroll-pane .scroll-bar:vertical {
    -fx-opacity: 0.0;
}

.validationError {
    -fx-border-color: red;
    -fx-border-radius: 2;
}

.validationWarn {
    -fx-border-color: orange;
    -fx-border-radius: 2;
}

.validationBubble {
    -fx-glass-color: rgba(234, 224, 109, 0.7);
    -fx-padding: 0;
    -fx-spacing: 0;
    -fx-alignment: center-left;
    -fx-background-color: linear-gradient(to bottom, derive(-fx-glass-color, 20%), -fx-glass-color);
    -fx-border-color: derive(-fx-glass-color, -20%);
    -fx-border-width: 1;
    -fx-background-insets: 2;
    -fx-border-insets: 2;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-alignment: top-left;
    -fx-padding: 0 0 0 0;
}

.validationBubbleMessage {
    -fx-text-fill: #333333;
    -fx-font-size: 11px;
    -fx-padding: 0 4px 0 4px;
}

.growlWindow {
    -fx-glass-color: rgba(234, 224, 109, 0.9);
    -fx-padding: 12;
    -fx-spacing: 4;
    -fx-alignment: center;
    -fx-background-color: linear-gradient(to bottom, derive(-fx-glass-color, 20%), -fx-glass-color);
    -fx-border-color: derive(-fx-glass-color, -20%);
    -fx-border-width: 2;
    -fx-background-insets: 4;
    -fx-border-insets: 4;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-alignment: top-left;
}

.growlCloseContainer {
    -fx-padding: 16px 16px 0 0;
}

.growlClose {
    -fx-cursor: hand;
}

.growlWindow .label {
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-alignment: center-left;
    -fx-padding: 0 0 0 8px;
}

.growlLine {
    -fx-alignment: center-left;
    -fx-padding: 2px 0 2px 0;
}

.requiredField {
    /*-fx-background-color: #758d91;*/
}
